* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
  

/* ====== Main container styling ====== */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

.container > div {
    padding: 15px;
}

/* ====== Header styling ====== */
.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header div {
    border: none;
}

.search {
    display: flex;
    align-items: center;
}

.search img {
    width: 50px;
    margin-right: 20px;
}

#searchbar {
    border-radius: 40px;
    opacity: 0.3;
    width: 70%;
    height: 50px;
    border: 1px solid #ccc;
}

.pop-up {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pop-up img {
    width: 40px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 60px;
}

/* Sidebar styling*/
.logo {
    display: flex;
    top: 15px;

    align-items: center;
    background-color: dodgerblue;
}

.logo h1 {
    font-size: 3rem;
    color: white;
}

.logo img {
    width: 80px;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;

    display: grid;
    grid-template-rows: 1fr repeat(2, 2fr);

    background-color:dodgerblue;
}

.sidebar img {
    width: 50px;

    margin-right: 20px;
}

.side-link {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: white;
    padding: 15px;
}
 
.side-link p {
    font-size: 2rem;
}

/* Nav styling */
.nav {
    grid-column: 2 / 3;
    width: 100%;

    display: grid;
    grid-template-columns: 4fr 3fr;

    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.5);
}

.nav .nav-buttons {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
}

.nav-buttons a {
    display: block;
    background-color: mediumblue;
    width: 120px;
    height: 60px;
    border-radius: 35px;
    padding-top: 15px;

    text-decoration: none;
    color: white;
    text-align: center;
}

.details {
    display: flex;

    align-items: center;
}

.details img {
    width: 100px;
}

.details p {
    font-size: 1.25rem;
}

.details h1 {
    font-size: 2rem;
}


/* Main content styling*/
.main-content {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

    background-color: aliceblue;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    padding: 20px;
}

.project {
    background-color: white;
    border-left: 4px inset #FFE64F;
    border-radius: 20px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.5);

    margin: 10px;
}

.project img {
    width: 30px;
}

.announcements {
    grid-column: 2 / 3;

    border-radius: 20px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.5);
}

.trending {
    grid-column: 2 / 3;
    border-radius: 20px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.5);
}

.profile-tag img {
    width: 60px;
}